htlm {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  background: url('../../images/pattern-background-desktop.svg') no-repeat;
  background-color: $paleBlue;
  background-size: 100vw auto;
  line-height: 1.5;
}

.card {
  width: 28.125rem;
  //width: 25.4375rem;
  margin: auto;
  //height: 600px;
  border-radius: 1.25rem;
  margin-bottom: 2rem;
  margin-top: 6.375rem; //102px
  background-color: $white;
  //box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.2);
  //box-shadow: 0px 20px 20px 0px rgba(222,219,248,1);
  //box-shadow: rgba(222,219,248,1) 0px 10px 10px -20px;
  box-shadow: rgba(198, 207, 246, 1) 0px 40px 20px -20px;
 // box-shadow: rgba(56, 41, 224, 0.4) 0px 50px 30px -20px;

  &__img {
    width: inherit;
    //height: 200px;
    border-radius: 1.25rem 1.25rem 0 0;
  }

  &__container {
    padding: 48px;
    padding-top: 2.6875rem; //43px
    padding-bottom: 2.875rem;
    //background-color: blue;
  }

  &__title {
    margin: 0;
    font-size: 28px;
    font-weight: 900;
    text-align: center;
    color: $darkBlue;
  }

  &__text {
    //padding: 0 3rem;
    font-size: 17px;
    color: $desaturatedBlue;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 14px;
    line-height: 26px;
  }

  &__payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 24px;
    border-radius: 10px;
    background-color: $veryPaleBlue;
  }

  /*&__payment-plan {

  }

  &__payment-price {
    
  }*/

  &__link {
    color: $brightBlue;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
  }

  &__link:hover {
    text-decoration: none;
    //color: $desaturatedBlue;
    opacity: 0.4;
  }

  &__cancel-order {
    font-size: 15px;
    font-weight: 900;
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: $desaturatedBlue;
  }

  &__cancel-order:hover {
    color: $darkBlue;
  }

}

.card-button {
  background-color: $brightBlue;
  // box-shadow: 0px 25px 20px 0px rgba(222,219,248,1), 0 10px 10px 0 rgba(0,0,0,0.19);
  box-shadow: 0px 20px 20px 0px rgba(222,219,248,1);
display: inline-block;
  color:  $white;
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  border-radius: 10px;
  width: 100%;
  margin: 32px 0;
  margin-bottom: 31px;
  padding-top: 13px;
  padding-bottom: 13px ;
  font-size: 16px;
  font-weight: 700;
}

.card-button:hover {
  //background-color: $darkBlue;
  opacity: 0.6;
}

.card h2 {
  font-size: 16.5px;
  font-weight: 900;
  color: $darkBlue;
  margin: 0;
  margin-bottom: 2px;

}

.card__payment p {
  margin: 0;
  font-size: 17px;
    color: $desaturatedBlue;
    font-stretch: ultra-expanded;
    //letter-spacing: 0.3px;
}