* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.container {
  background: url('../../images/pattern-background-desktop.svg') no-repeat;
  background-color: $paleBlue;
  background-size: auto;
  padding-bottom: 6.3125rem;
  padding-top: 6.375rem; // 102px
}

.card {
  width: 28.125rem; // 450px
  margin: auto;
  border-radius: 1.25rem; // 20px
  background-color: $white;
  box-shadow: rgba(198, 207, 246, 1) 0px 40px 20px -20px;

  &__img {
    width: 100%;
    display: block;
    border-radius: 1.25rem 1.25rem 0 0;
  }

  &__container {
    padding: 3rem; // 48px
    padding-top: 2.6875rem; //43px
    padding-bottom: 2.875rem; // 46px
  }

  &__title {
    font-size: 1.75em; // 28px;
    font-weight: 900;
    text-align: center;
    color: $darkBlue;
  }

  &__text {
    margin-bottom: 20px;
    margin-top: 14px;
    text-align: center;
    font-size: 17px;
    line-height: 26px;
    color: $desaturatedBlue;
  }

  &__payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    border-radius: 10px;
    background-color: $veryPaleBlue;
  }

  &__plan {
    font-size: 16.5px; // 1.03125em;
    font-weight: 900;
    color: $darkBlue;
  }
  
  &__payment p {
    font-size: 17px;
    color: $desaturatedBlue;
  }

  &__payment-flex {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }
  
  &__link {
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    color: $brightBlue;
  }

  &__link:hover {
    text-decoration: none;
    opacity: 0.4;
  }

  &__cancel-order {
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 900;
    color: $desaturatedBlue;
  }

  &__cancel-order:hover {
    color: $darkBlue;
  }

  &__button {
    background-color: $brightBlue;
    box-shadow: 0px 20px 20px 0px rgba(222,219,248,1);
    display: inline-block;
    color:  $white;
    cursor: pointer;
    border: none;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    width: 100%;
    margin: 32px 0 31px 0;
    padding: 13px 0;
    font-size: 16px;
    font-weight: 700;
  }

  &__button:hover {
    opacity: 0.7;
  }
}

.attribution { font-size: 11px; text-align: center; padding: 3px;}
.attribution a { color: hsl(228, 45%, 44%); }

// Responsive style for mobile 375px max-with
@media only screen and (max-width: 375px) {

  .container {
    padding: 4.4375rem 0;
  }

  .card {
    width: 327px;
    margin: auto;
    margin-top: 71px;

    &__container {
      padding: 1.5rem;
      padding-bottom: 1.875rem;
      padding-top: 1.875rem;
    }

    &__title {
      font-size: 22px;
    }

    &__text {
      font-size: 15px;
      line-height: 25px;
      padding-top: 1px;
      padding-right: 10px;
      padding-bottom: 3px;
      padding-left: 10px;
    }

    &__payment {
      padding: 17px;
      padding-bottom: 16px;
    }

    &__plan {
      margin-top: 1px;
      font-size: 14.5px;
      margin-bottom: 0px;
    }
    &__link {
      font-size: 13px;
    }

    &__payment p {
      font-size: 15px;
    }

    &__button {
      margin-top: 24px;
      margin-bottom: 23px;
      font-size: 15px;
      padding-top: 14px;
      padding-bottom: 14px;
    
    }
  }
}
