htlm {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Red Hat Display', sans-serif;
  background: url('../../images/pattern-background-desktop.svg') no-repeat;
  background-color: $veryPaleBlue;
  background-size: 100vw auto;
  line-height: 1.5;
}

.card {
  width: 28.125rem;
  //width: 25.4375rem;
  margin: auto;
  //height: 600px;
  border-radius: 1.25rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);

  &__img {
    width: inherit;
    border-radius: 1.25rem 1.25rem 0 0;
  }

  &__container {
    padding: 3.125rem;
    //background-color: blue;
  }

  &__title {
    margin: 0;
    font-weight: 900;
    text-align: center;
    color: $darkBlue;
  }

  &__text {
    //padding: 0 3rem;
    font-size: 1rem;
    color: $desaturatedBlue;
    text-align: center;
  }

  &__payment {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 0;
    border-radius: 10px;
    background-color: $veryPaleBlue;
  }

  /*&__payment-plan {

  }

  &__payment-price {
    
  }*/

  &__link {
    color: $brightBlue;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
  }

  &__link:hover {
    text-decoration: none;
    //color: $desaturatedBlue;
    opacity: 0.4;
  }

  &__cancel-order {
    display: block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: $desaturatedBlue;

  }

}

.card button {
  background-color: $brightBlue;
  box-shadow: 0 10px 10px 0 rgba(222,219,248,1), 0 10px 10px 0 rgba(0,0,0,0.19);
  color:  $white;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 100%;
  margin: 35px 0;
  padding: 20px 0;
  font-size: 14px;
  font-weight: 700;
}

.card button:hover {
  //background-color: $darkBlue;
  opacity: 0.6;
}