// COLORS
// Primary
$paleBlue: hsl(225, 100%, 94%);
$brightBlue: hsl(245, 75%, 52%);
//Neutral
$veryPaleBlue: hsl(225, 100%, 98%);
$desaturatedBlue: hsl(224, 23%, 55%);
//$darkBlue: hsl(223, 47%, 23%);
$darkBlue: hsl(245, 55%, 52%);

$white: hsl(0, 0%, 100%);


